<section class="services" id="services">
    <div class="services-container">
      <h2 class="section-title">Nuestros Servicios</h2>
      <div class="services-list">
        <div class="service-card">
          <div class="icon">
            <i class="fas fa-laptop-code"></i>
          </div>
          <h3>Desarrollo Web</h3>
          
          <p>
            Creamos sitios web modernos y responsivos, optimizados para cualquier dispositivo.
          </p>
        </div>
  
        <div class="service-card">
          <div class="icon">
            <i class="fas fa-server"></i>
          </div>
          <h3>Desarrollo Backend</h3>
          <p>
            Desarrollamos soluciones robustas y escalables en el servidor, utilizando las mejores tecnologías.
          </p>
        </div>
  
        <div class="service-card">
          <div class="icon">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <h3>Aplicaciones Móviles</h3>
          <p>
            Creamos aplicaciones móviles para Android e iOS, con excelente rendimiento y diseño moderno.
          </p>
        </div>
  
        <div class="service-card">
          <div class="icon">
            <i class="fas fa-network-wired"></i>
          </div>
          <h3>Consultoría Técnica</h3>
          <p>
            Ofrecemos asesoramiento experto para mejorar la infraestructura y optimizar procesos tecnológicos.
          </p>
        </div>
      </div>
    </div>
  </section>
  