<div class="about-container">
    <div class="profile-pic">
      <img src="" alt="STP ">
    </div>
    <div class="about-content">
      <h2>Sobre Mí</h2>
      <p>
        Soy un desarrollador web con experiencia en frontend y backend, enfocado en crear 
        soluciones tecnológicas modernas y eficientes. Me especializo en tecnologías 
        como <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>JavaScript</strong>, 
        <strong>Angular</strong>, <strong>.NET</strong>, y bases de datos como <strong>SQL Server</strong> y <strong>MySQL</strong>.
      </p>
      <p>
        Mi pasión es diseñar y desarrollar aplicaciones web que ofrezcan una experiencia 
        de usuario óptima, junto con una arquitectura técnica robusta y escalable.
      </p>
      <a href="/appwebfreelancer/public/doc/CV_IVAN_Esp.pdf" target="_blank" class="btn btn-primary">Descargar CV</a>
    </div>
  </div>
  